
.m1{
    height: 300px;
    width: 100%;
}
.G1{
    text-align: center;
    background-color: rgb(10, 10, 210);
    color: wheat;
}
.imag1{
    height: 300px;
}
.imag2{
    height: 300px;
    width: 100%;
}