img{
    width: 100%;
}
.img4{
    margin-top: 10px;
}
 .part2{
    height: 475px;
}
.p2{
    height: 300px;
}
.p1{
    height: 300px;
}
.k1{
    height: 300px;
}
.k2{
    height: 150px;
}