.kl{
    background-color: rgb(16, 29, 29);
    color: white;
    text-align: center;
    
}
.j1{
    height: 300px;
    width: 100%;
}
.f1{
    height: 300px;
    width: 100%;
}
.h1{
    height: 150px;
    width: 100%;
}