.nb{
    width: 600px;
    height: 400px;
}
.nb{
    text-align: center;
}
body{
    background-color:palevioletred;
}
.jas{
    font-family: 'Lucida Sans', 'Lucida Sans Regular', 'Lucida Grande', 'Lucida Sans Unicode', Geneva, Verdana, sans-serif;
    color: black;
}
